
table {
    /* border-collapse: collapse; */
    border: 1px solid black;
    width: 40%;
    background-color: gold;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    font-weight: bold;
    text-align: center;
}

th {
    background-color: gold;
    color: black;
}

tr:nth-child(odd) {
    background-color: gold;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color:white;
}
